<section class="filters_section_wrap">
    <div class="filters_section">
        <input type="search" placeholder="Search tours..." />

        <filter-dropdown 
        [options]="toursCategories()"
        placeholder="Category"
        (valueChange)="categoryValue($event)"
        [maxWidth]="true"
        />

        <filter-dropdown 
        [options]="toursDurations()"
        placeholder="Duration"
        (valueChange)="durationValue($event)"
        [maxWidth]="true"
        />

        <filter-dropdown 
        [options]="toursPrices"
        placeholder="Price"
        (valueChange)="priceValue($event)"
        [maxWidth]="true"
        />

        <button (click)="filterClick()">
            Filter
        </button>
    </div>
</section>