.filters_section_wrap{
    margin-top: 40px;
    

    position: sticky;
    top: 65px;
    z-index: 999;
    
    display: flex;
    justify-content: center;
}

.filters_section{
    width: 100%;
    max-width: 1200px;
    padding: 18px;

    display: flex;
    justify-content: center;
    gap: 12px;

    background-color: var(--color-bg);

    /* overflow-x: scroll;
    scrollbar-width: none; */
}

.filters_section input[type="search"] {
    flex: 2;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.2s ease;
    /* min-width: 280px; */
    flex-shrink: 0;
}

.filters_section input[type="search"]:focus {
    border-color: var(--color-dark);
    outline: none;
}

filter-dropdown{
    flex: 1;
}

.filters_section button {
    padding: 10px 20px;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.filters_section button:hover {
    filter: brightness(1.3);
    transform: translateY(-2px);
}

@media (max-width: 768px) {

    .filters_section_wrap{
        margin-top: 0;
        position: relative;
        top: 30px;
        min-height: 200px;
    }

    .filters_section select {
        height: 100px;
    }

    .filters_section {
        background-color: transparent;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .filters_section button {
        grid-column: 1/-1;
    }
    .filters_section input {
        grid-column: 1/-1;
    }

    .filters_section input,
    .filters_section select,
    .filters_section button {
        width: 100%;
        height: 42px;
    }
}