.header{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9000;
    color: black;
    padding: 0 16px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.scrolled{
    background-color: white;
}
.small_screen{
    background-color: white;
}

.header_title_wrap{
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.header_title{
    display: none;
    position: relative;
    transition: all 0.3s ease;
}

.desktop_nav_wrap{
    display: none;
}

.header_menu_wrap{
    display: flex;
    align-items: center;
    gap: 6px;
}

.auth_buttons_wrap{
    display: none;
}
  
    /* only for mouse devices  */

@media (hover: hover) and (pointer: fine) {

    .header:hover{
        background-color: var(--color-header);
    }

    .header_title::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 0;
        height: 2px;
        background: var(--color-dark);
        transition: width 0.3s ease, left 0.3s ease;
    }
  
    .header_title:hover::after {
        width: 100%;
        left: 0;
    }
        
}
  

@media (min-width: 601px) {
    .header_title{
        display: block;
    }
}
@media (min-width: 1024px) {
    .mobile_menu_wrap{
        display: none;
    }
    .auth_buttons_wrap{
        display: block;
    }
    .desktop_nav_wrap{
        display: block;
    }
}
