button{
    transition: transform 0.2s ease, background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    border: transparent;
    width: 100%;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    filter: grayscale(30%);
    pointer-events: none;
}

.small{
    padding: 4px 12px;
    font-size: 13px;
    height: 30px;
    border-radius: 6px;
}
.medium{
    padding: 8px 16px;
    font-size: 14px;
    height: 38px;
    border-radius: 6px;
}
.big{
    padding: 12px 24px;
    font-size: 16px;
    height: 46px;
    border-radius: 8px;
}

.button_content_wrap{
    display: flex;
    gap: 3px;
}


.spinner {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
  }
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
  

button.outlined:hover {
    filter: brightness(1.1);
}
  

/* shared for all button type */
button:hover{
    transform: scale(1.02);
}
button:active{
    transform: scale(0.98);
    filter: brightness(1.1);
}