.main {

    margin-inline: auto;
    padding-inline: 16px;
  
    min-height: 100vh;

    display: flex;
    justify-content: center;

}

.login_content_wrap{
    background-color: transparent;
    width: 100%;
    max-width: 500px;
    height: 80vh;
    min-height: 500px;
    
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.content_box {
    position: relative;
    width: 100%;
    background-image: url('/login_content.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

.content_inner h1, p {
    color: white;
    font-size: 30px;
}

.login_box {
    width: 100%;
    padding: 48px 40px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
  }

  .login_header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #2f6f5b;;
  }

  .login_header p {
    font-size: 14px;
    color: #2f6f5b;;
  }

  .login_footer {
    font-size: 13px;
    color: #2f6f5b;;
  }
  
  .login_footer a {
    color: #2563eb;
    text-decoration: none;
  }
  
  .login_form{
    width: 100%;
    max-width: 300px;
  }

@media (min-width: 481px) and (max-width: 1023px) {

    .main{
        align-items: center;
        color: white;
    }

    .login_content_wrap {
        max-width: 500px;
        background-image: url('/login_content.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
        overflow: hidden;
    
        box-shadow:
          0 12px 30px rgba(15, 61, 46, 0.18),
          0 4px 12px rgba(15, 61, 46, 0.08);
      }
    
      .login_header h1 {
        color: white;
      }
      .login_header p {
        color: white;
      }
      .login_footer {
        color: white;
      }

}
@media (min-width: 1024px) {

    .main{
        align-items: center;
    }

    .login_content_wrap{
        background-color: white;
        width: 100%;
        max-width: 1000px;
        height: 90vh;
        
        border-radius: 24px;
        box-shadow:
        0 20px 40px rgba(15, 61, 46, 0.319),
        0 6px 16px rgba(15, 61, 46, 0.195);
        
        overflow: hidden;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .login_header h1 {
        color: #2f6f5b;
    }
    .login_header p {
        color: #2f6f5b;
      }
      .login_footer {
        color: #6b7280;
      }
    /* .login_box{
        justify-content: center;
    } */

}