.profile_info_wrap{
    /* background-color: red; */

    /* margin-top: 470px; */
    width: 100%;
    padding: 18px 18px 0px 18px;
    gap: 100px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
}

.profile_info_title{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-dark); 
}

.profile_info_title h1{
    font-size: 28px;
    color: var(--color-dark);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    margin-left: 4px;
}

input {
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #e0e0e0; 
    border-radius: 10px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    outline: none;
    color: #333;
}

.profile_fields_wrap{
    /* background-color: red; */
    width: 100%;
    
    /* width: 900px; */
    align-self: center;
    display: grid;
    /* auto-fit ეუბნება: ჩაატიე იმდენი, რამდენიც ჩაეტევა მინიმუმ 280px-ით */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 14px;
    /* width: 100%; */
}

footer{
    /* background-color: red; */
    text-align: center;
    padding: 14px;
    border-top: 1px solid var(--color-dark);
}
footer a {
    text-decoration: none;
    color: var(--color-dark);
}
footer a:hover{
    text-decoration: underline;
}

@media (min-width: 768px) {
    .profile_info_wrap{
        /* background-color: red; */
        height: 100%;
        /* padding: 24px; */
    
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
}