.hero_content{
    width: 100%;
    min-height: 30vh;
    position: relative;

    background-image: url('/tours_page_hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.black {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.345);
    animation: slideIn 0.7s ease-in-out;
    z-index: 1;
}

.content_title{
    position: relative;
    z-index: 2;
    color: var(--color-light);
    border-bottom: 1px solid var(--color-light);
    animation: fadeUp 0.9s ease forwards;
    opacity: 0;
    animation-delay: 0.5s;
}
.content_title h1 {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 0.6rem;
}

.content_title p {
    font-size: 0.8rem;
    opacity: 0.9;
    line-height: 1.5;
    margin-bottom: 1.4rem;
}

/* ANIMATIONS */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        background-color: rgba(0, 0, 0, 0.624);
    }
    to {
        transform: translateX(0);
        background-color: rgba(0, 0, 0, 0.345);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (min-width: 768px) {

    .hero_content{
        min-height: 500px;
        padding-right: 100px;
    }

    .content_title h1 {
        font-size: 3rem;
    }

    .hero_content_title p {
        font-size: 1.15rem;
    }
}
