.desktop_menu{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 18px;
}

.menu_item{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.menu_group{
  position: relative;
}

  /* show dropdown */
  .menu_group:hover .tours_dropdown,
  .tours_dropdown:hover,
  .menu_group:hover .guides_dropdown,
  .guides_dropdown:hover {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }

  /* dropdown */
  .tours_dropdown, .guides_dropdown {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 6px);
  
    z-index: 9900;
    background-color: white;
    border-radius: 6px;
  
    display: flex;
    flex-direction: column;
    gap: 2px;
  
    padding: 10px;
  
    visibility: hidden;
    opacity: 0;
    cursor: default;
  
    font-size: 16px;
  
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
  }

  .guides_ratings{
    font-size: 8px;
  }
  
  /* dropdown items */
  .tour_items, .guides_items {
    all: unset;

    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;
  
    color: var(--color-dark);
    font-size: 15px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    transition:
      background-color 0.2s ease,
      transform 0.15s ease,
      color 0.2s ease;
  }
  
  /* separators */
  .tour_items + .tour_items, .guides_items + .guides_items{
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  /* hover mouse only */
  @media (hover: hover) {
    .tour_items:hover, .guides_items:hover {
      background-color: black;
      color: white;
      transform: translateX(4px);
    };

  }


@media (hover: hover) and (pointer: fine) {
    .menu_item::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 0;
        height: 1px;
        background: black;
        transition: width 0.3s ease, left 0.3s ease;
    }
  
    .menu_item:hover::after {
        width: 100%;
        left: 0;
    }
        
}