.header{
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--color-header);
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_title_wrap{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.menu_icon{
    cursor: pointer;
}

.header_title {
    display: none;
    position: relative;
    letter-spacing: 0;
    transition: all 0.3s ease;
}
  
.header_title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}
  
.header_title {
    position: relative;
    letter-spacing: 0px;
    transition: all 0.9s ease;
}

    /* only for mouse devices  */

@media (hover: hover) and (pointer: fine) {
    .header_title:hover{
        letter-spacing: 2px;
    }

    .header_title::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 0;
        height: 1px;
        background: white;
        transition: width 0.3s ease, left 0.3s ease;
    }
  
    .header_title:hover::after {
        width: 100%;
        left: 0;
    }
        
}
  

@media (min-width: 601px) {
    .header_title{
        display: block;
    }
}
