<header class="header">
    <!-- title section  -->
    <div class="header_title_wrap" (click)="navToHomePage()">

        <logo-icon 
        class="header_logo"
        [size]="50"
        color="light"
        />

        <ui-typography 
        class="header_title"
        variant="h1" 
        color="light" 
        #header_title
        >
            GeoTrails
        </ui-typography>
        
    </div>
    <!-- menu section  -->
    <div>
        <menu-icon 
        [size]="35"
        color="light"
        class="menu_icon"
        />
    </div>
</header>