<ng-container>

    <search-icon 
    color="dark"
    [size]="24"
    (onClick)="openSearch()"
    />

    @if ( searchIsOpen() ) {
        <div class="search_modal">

            <div class="search_modal_box">
                <div class="search_input_wrap">
    
                    <left-arrow 
                    color="light"
                    [size]="33"
                    (onClick)="closeSearch()"
                    />
                    
                    <input 
                    type="text"
                    placeholder="Search tours..."
                    #headerSearch
                    class="search_input"
                    [value]="inputValue()"
                    (input)="inputValueChange($event)"
                    />
    
                </div>
                <div class="search_result_wrap">
                    @if (searchMatch() !== null) {
                        @for( searchResult of searchMatch(); let i = $index; track i;) {
                            <button class="search_result" 
                            [class.active]="activeBar() === i"
                            (mouseenter)="activeBar.set(i)"
                            >
                                <span>
                                    {{ searchResult | titlecase }}
                                </span>
                            </button>
                        }
                    }@else {
                        <span style="align-self: center;">
                            {{ searchResultMsg() }}
                        </span>
                    }
                </div>
            </div>
    
        </div>
    }

</ng-container>