:root {
    --color-primary: #3B82F6;
    --color-secondary: #6B7280;
    --color-success: #22C55E;
    --color-error: #EF4444;
    --color-warning: #F59E0B;
    --color-info: #0EA5E9;
    --color-dark: #111827;
    --color-light: #F3F4F6;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer;
}