.body1 {  /* default text */
    font-size: 1rem;          /* 16px */
    line-height: 1.5;        
    font-weight: 400;
    letter-spacing: 0.00938em;
}
  
.body2 {
    font-size: 0.875rem;      /* 14px */
    line-height: 1.43;
    font-weight: 400;
    letter-spacing: 0.01071em;
}
  