
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(4px);   
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;               
  }
  
  .modal-card {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease-out;
  }
  
  .modal-header {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .icon-warning {
    background: var(--color-warning);
    color: var(--color-light);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 12px;
  }
  
  .modal-body p {
    color: #555;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  .btn {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.2s;
  }
  
  .btn-primary {
    background: var(--color-primary);
    color: var(--color-light);
  }
  

  
  .btn-ghost {
    background: var(--color-light);
    color: var(--color-secondary);
  }
  
  
@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (hover:hover) and (pointer:fine) {

    .btn-ghost:hover {
        filter: brightness(0.9);
    }

    .btn-primary:hover {
        filter: brightness(1.1);
    }
}