<footer class="footer" id="footer">

    <div class="footer_contact-sect">
        <h1>Contact Us:</h1>
        <div>
            <span>Tel: 597-99-99-00</span>
            <span>Tel: 032-2-500-700</span>
            <span>IG: Instagram.com/@GeoTrails</span>
            <span>Fb: Facebook.com/GeoTrails</span>
        </div>
    </div>


    <div class="footer_company_sect">
        <h1>Company</h1>
        <div>
            <span>About Us</span>
            <span>Tours</span>
            <span>Blog</span>
        </div>
    </div>


    <div class="footer_location_sect">
        <h1>Location: </h1>
        <div>
            <span>Tbilisi, Vajha Pshavela N40</span>
            <iframe
            width="200"
            height="160"
            style="border:0"
            loading="lazy"
            src="https://maps.google.com/maps?q=41.7151,44.8271&z=14&output=embed">
            </iframe>

        </div>
    </div>


</footer>