.cards_section_wrap{
    margin-top: 80px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.cards_content{
    width: 100%;
    max-width: 1200px;
    /* background-color: green; */
    padding: 18px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 24px;

    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    justify-content: center;  */
}

.card_wrap{
    display: flex;
    flex-direction: column;
    min-height: 300px;

    cursor: pointer;
    transition: transform 0.3s ease;
}

.card_img{
    flex: 1;
    width: 100%;
    /* max-width: 280px; */
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card_body{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card_body h2{
    color: var(--color-dark);
}

.card_body p{
    color: var(--color-secondary);
    margin-top: 5px;
}
.card_body span{
    color: var(--color-dark);
    font-size: 20px;
    align-self: flex-end;
}


.spinner-backdrop {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner {
    width: 48px;
    height: 48px;
    border: 4px solid #e0e0e0;
    border-top-color: var(--color-dark); /* primary color */
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
  }

  .no-result{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }


@media (min-width: 600px) and (max-width: 1024px) {
    .cards_content{
        width: 100%;
        max-width: 1200px;
        /* background-color: green; */
        padding: 18px;
    
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 24px;
    }
}
  

@media (min-width: 1024px) {
    .cards_content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 24px;
        /* background-color: red; */
    }
    .card_wrap{
        max-width: 100%;
    }
}


@media (hover:hover) and (pointer:fine) {
    .card_wrap:hover{
        transform: translateY(-4px);
        background-color: rgba(128, 128, 128, 0.115);
    }
}